html, body {
  height: 100%;
}
body {
  margin: 0;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;;
}

.nav {
  display: flex;
  flex: 0 1 auto;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #000;

  .nav-item {
    flex: 1 1 auto;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    color: #fff;

    &:hover {
      border: 1px solid #000;
      font-weight: bold;
      background-color: #fff;
      color: #000;
    }
  }

}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content .home {
  height: 120px;
  flex: 1 1 auto;
  text-align: center;
  background-color: aliceblue;
}

.generator-view {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .button-generator {
    height: 100px;
    border-radius: 15px;
    font-size: large;
    &:focus {
      outline: 0;
    }
  }
}

.log-view {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  a.log-view-item {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(odd) {
      background-color: #c5d5e6;
    }
  }
}

.hide {
  display: none;
}
.selected {
  background-color: #82b384;
}
